* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes drop-in {
  from {
    transform:
      rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform:
      rotate(0deg) translateY(0%);
    opacity: 1;
  }
}

/* This is at the top of the page and contains the drop in animation above as well as h5 (time) below */
header{
  /* background-image: linear-gradient(to right, rgba(17, 70, 135, 0.221), rgb(62, 20, 201)); */
  color:black;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 250px;
  width: 100%;
  padding-left: 25px;
  /* border: 1px rgb(0, 76, 255) solid; */
  /* border-radius: 20px; */
  /* box-shadow: 0 0 15px 10px #097175; */
 
}

/* Trying to add about us, inline in the top right */
header.ul {
  justify-content: right;
  display: inline;
  font-size: 45px;
  font: white;
}
header h1{
  margin: 30px 0;
  font-size: 75px;
  font-weight: bolder;
}

header h5
{
  font-size: 30px;
}

@keyframes rainbow {
  0%   {color: rgb(159, 82, 0);}
  25%  {color: yellow;}
  50%  {color: whitesmoke;}
  100% {color: orange;}
}

.heading {

  animation-name: rainbow;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation: drop-in 2000ms;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* background-image: linear-gradient(to right, rgba(17, 93, 135, 0.221), rgb(20, 198, 201)); */
  
}

.main-layout{
  display: flex;
  gap: 35px;
  padding: 30px;

}

.weather-input
{
  width: 450px;
  font-size: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.weather-input h3{
  font-size: 30px;
  font-weight: bolder;
}
.weather-input input
{
  width: 100%;
  height: 40px;
  padding: 0 15px;
  /* Added the following line */
  border: 3px orange solid;
  /* border: 2px rgb(225, 214, 214) solid; */
  border-radius: 5px;
  margin: 10px 0 20px 0;
}
.weather-input button
{
width: 100%;
padding: 10px,0;
cursor: pointer;
outline: none;
border: none;
/* added the following line */
background-image: linear-gradient(to left, orange, white);
/* background-image: linear-gradient(to left, rgba(10, 145, 208, 0.221), rgb(16, 90, 95)); */
border-radius: 2px;
color: black;
font-weight: bolder;

}

/* I commented out to test where this effect was taking place and didn't see a difference
.weather-input button:hover
{
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: #d52206;
  
}
*/
.weather-input .separator
{
  border-top: 2px orange solid;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.weather-input .separator::before
{
  content: "or";
  font-size: 1.18rem;
  padding: 0 15px;
  
}

.weather-input .cityHist{
  margin: 15px 0;
}

/* This is the history */
.weather-input .histBtn{
  margin: 5px 0;
  border-radius: 2px;
  border: none;
}

.weather-input .drop-down-menu
{
  margin-bottom: 10px;
}

.weather-data
{
  width: 100%;
  

  
}
.current-weather
{
  border-radius: 15px;
  /* changing the font does not work?
  font-family: 'Open Sans', sans-serif; */
  padding: 10px 20px 10px 10px;
  display: flex;
  background-image: linear-gradient(to bottom,orange, white)
  /* background-image: linear-gradient(to bottom, rgba(219, 82, 19, 0.221), rgb(237, 222, 9)); */

}

.current-weather .weather-detail
{
  font: 25px bolder;
  font-family: 'Open Sans', sans-serif;}


.current-weather .weather-icon img{
  width: 180px;
  margin-top: -15px;
  margin-left:350px;
 
}

.current-weather .weather-icon h4{
  max-width: 120px;
  margin-top: -15px;
  margin-left:380px;
 
}






.weather-cards img{
  width: 100%;
  margin-top: 5px 0 -12px 0;
  
}

.days-forecast h2
{

  font-size: 3rem;
  margin: 50px 0 0 0;
}
.weather-cards
{
  margin: 60px 0;
  display: flex;
  gap: 5%;
}

.weather-cards li
{
  background-image: linear-gradient(to bottom, orange, white);
  /* background-image: linear-gradient(to bottom, rgba(219, 82, 19, 0.221), rgb(9, 161, 237)); */
  width: 180px;
  text-align: center;
  border-radius: 10px;
  list-style: none;
}

.lead{
  animation: move 50s infinite linear; /* set the time to what you want of course */
}


@keyframes move {
  from {
    transform: translate(500%);
  }
  to {
    transform: translate(-500%);
  }
}

footer {
  display: flex;
  background-color: none;
  color: white;
  height: 50px;
  justify-content: center;
  padding-top: 20px;
  padding-right: 375px;
  }